<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="strConn" connectionString="Data Source=localhost;Initial Catalog=PerformanceDB;User ID=sa;password=4000676018 " providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>
    <add key="image" value="XPSilver.ssk" />
    <!--显示登录界面标题-->
    <add key="title" value="管理系统登陆" />
    <!--显示登录界面版本标题-->
    <add key="version" value="业绩核算管理系统v1.0" />
    <!--显示关于界面图片显示-->
    <add key="AboutImage" value="01.jpg"/>
    <!--是否显示登录界面密码找回按钮(0:隐藏 1:显示)-->
    <add key="ButtonShow" value="1"/>
    <add key="IP" value="127.0.0.1" />
    <add key="userID" value="sa"/>
    <add key="password" value=""/>
  </appSettings>
</configuration>